button {
  --button__background-color: var(--accent-color);
  --darkness-multiplier: 1;

  --button__default__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.35) c h),
    oklch(from var(--button__background-color) calc(l - var(--darkness-multiplier) * 0.35) c h)
  );
  --button__hover__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.4) calc(c - 0.05) h),
    oklch(from var(--button__background-color) calc(l - var(--darkness-multiplier) * 0.3) calc(c + 0.05) h)
  );
  --button__active__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.3) c h),
    oklch(from var(--button__background-color) calc(l - var(--darkness-multiplier) * 0.4) c h)
  );

  --top-highlight-percentage: 50%;
  --bottom-shadow-percentage: 30%;
  --elevation-1: 1px;
  --elevation-2: 2px;
  --elevation-3: 3px;

  color: light-dark(var(--black), var(--white));
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  border: 2px solid
    color-mix(
      in srgb-linear,
      var(--button__default__background-color),
      var(--black) 80%
    );
  background-color: var(--button__default__background-color);
  transition: var(--short-transition) ease-in-out;
  box-shadow: inset 0 0.05rem 0.1rem
      color-mix(
        in srgb-linear,
        var(--button__default__background-color),
        var(--white) var(--top-highlight-percentage)
      ),
    inset 0 2.1rem 1.5rem
      color-mix(
        in srgb-linear,
        var(--button__default__background-color),
        var(--black) var(--bottom-shadow-percentage)
      ),
    var(--elevation-1) var(--elevation-1) 0 0
      color-mix(
        in srgb-linear,
        var(--button__default__background-color),
        var(--black) 70%
      ),
    var(--elevation-2) var(--elevation-2) 0 0
      color-mix(
        in srgb-linear,
        var(--button__default__background-color),
        var(--black) 70%
      ),
    var(--elevation-3) var(--elevation-3) 0 0
      color-mix(
        in srgb-linear,
        var(--button__default__background-color),
        var(--black) 70%
      );

  &.success {
    --button__background-color: var(--success-color);
  }

  &.danger {
    --button__background-color: var(--danger-color);
  }

  &.secondary {
    --darkness-multiplier: 1.9;

    --button__background-color: var(--white);
  }

  &:hover,
  &:focus-visible {
    --top-highlight-percentage: 90%;
    --bottom-shadow-percentage: 0%;

    scale: 1.02;
    background-color: var(--button__hover__background-color);
  }

  &:active {
    --top-highlight-percentage: 0%;
    --bottom-shadow-percentage: 50%;
    --elevation-1: 1px;
    --elevation-2: 0;
    --elevation-3: 0;

    scale: 1 0.95;
    translate: 1px 1px;
    transform-origin: center bottom;
    background-color: var(--button__active__background-color);
  }
}
