button {
  --button__background-color: var(--accent-color);

  --button__default__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.35) c h),
    oklch(from var(--button__background-color) calc(l - 0.15) c h)
  );
  --button__hover__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.4) c h),
    oklch(from var(--button__background-color) calc(l - 0.1) c h)
  );
  --button__active__background-color: light-dark(
    oklch(from var(--button__background-color) calc(l + 0.3) c h),
    oklch(from var(--button__background-color) calc(l - 0.2) c h)
  );

  background-color: var(--button__default__background-color);
  font-weight: 600;
  transition: var(--short-transition) ease-in-out;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 2px var(--invert-body-color);
  border: 2px solid transparent;

  &.success {
    --button__background-color: var(--success-color);
  }

  &.danger {
    --button__background-color: var(--danger-color);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--button__hover__background-color);
    transform-origin: center bottom;
  }

  &:active {
    background-color: var(--button__active__background-color);
    scale: 1 0.95;
    transform-origin: center bottom;
  }
}
