:host {
  ul {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;

    hr {
      border: none;
    }

    .less-emphasis {
      font-size: 0.85rem;
      font-weight: 400;
    }

    .title {
      font-size: 1.2rem;
    }

    li {
      --transparentBg: light-dark(
        color-mix(in srgb, var(--invert-body-color), var(--accent-color) 10%),
        color-mix(in srgb, var(--invert-body-color), var(--accent-color) 15%)
      );
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;
      font-family: var(--title-font);
      width: 100%;
      border: 2px solid color-mix(in hsl, var(--body-color), transparent 70%);
      border-radius: 10px;
      min-height: 300px;
      background: color-mix(
        in srgb,
        color-mix(in srgb, var(--accent-color), transparent 40%),
        var(--invert-body-color) 50%
      );
      padding: 18px 23px;
      overflow: hidden;

      .text-effect {
        display: inline;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
        background: var(--transparentBg);
        font-weight: 500;
        box-shadow: 10px 0 0 var(--transparentBg),
          -10px 0 0 var(--transparentBg);
        box-decoration-break: clone;
        word-break: break-word;
      }

      .bottom {
        .text-effect {
          .score {
            display: inline-flex;
            align-items: center;
          }

          .dot {
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 0.5rem;

            &.glow {
              position: absolute;
              filter: blur(4px) contrast(3) brightness(1.5);
              opacity: 0.5;
            }
          }

          .no-of-problems {
            margin: 0 0.4rem;
          }

          &.bad .dot {
            background-color: rgb(194, 0, 78);
          }
          &.neutral .dot {
            background-color: rgb(212, 113, 0);
          }
          &.good .dot {
            background-color: rgb(0, 179, 51);
          }
        }
      }

      a {
        text-decoration: none;
        color: var(--body-color);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--backgroundImage);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        opacity: 0.7;
        z-index: -1;
        scale: 1.8;
        filter: blur(15px) contrast(140%) saturate(180%);
      }

      &:hover {
        --transparentBg: light-dark(
          color-mix(in srgb, var(--invert-body-color), var(--accent-color) 0%),
          color-mix(in srgb, var(--invert-body-color), var(--accent-color) 5%)
        );
      }
    }
  }
}
