<markdown ngPreserveWhitespaces>
    Aceste site-uri au fost analizate cu ajutorul serviciului de testare automată [WebAIM
    WAVE](https://wave.webaim.org/api/details|blank). **Notă:** Testarea automată are limitări și **nu** poate detecta 100% din probleme. Pentru mai multe detalii, accesați unul din site-urile ce urmează:
</markdown>
<ul>
    @for (waveReport of waveReports; track waveReport.statistics.pageurl) {
    <li
        [style]="`--backgroundImage: url(https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=${waveReport.statistics.pageurl}&size=64)`">
        <div class="top">
            <span class="text-effect">
                <span class="title">{{ waveReport.statistics.pagetitle }}</span>
                <hr>
                <span class="less-emphasis">{{stripUrl(waveReport.statistics.pageurl)}}</span>
            </span>
        </div>
        <div class="bottom">
            <span class="text-effect"
                [class]="{'good': waveReport.statistics.AIMscore > 7, 'neutral': waveReport.statistics.AIMscore <= 7 && waveReport.statistics.AIMscore >= 4, 'bad': waveReport.statistics.AIMscore < 4}">
                <hr>
                <span class="score">
                    <span class="dot"></span>
                    {{waveReport.statistics.AIMscore}}/<span class="less-emphasis">10 + </span>
                    <span class="no-of-problems">?</span>
                    <span class="less-emphasis">probleme</span>
                </span>
            </span>
        </div>
    </li>
    } @empty {
    <li>Nu există rezultate de afișat...</li>
    }
</ul>

<!-- <div style="display: inline-flex; gap: 1rem;">
    <button>Primary</button>
    <button class="success">Success</button>
    <button class="danger">Danger</button>
    <button class="secondary">Secondary</button>
</div>
<p>No one shall be subjected to arbitrary arrest, detention or exile.
    Everyone is entitled in full equality to a fair and public hearing by an independent and impartial tribunal, in the
    determination of his rights and obligations and of any criminal charge against him.
    No one shall be subjected to arbitrary interference with his privacy, family, home or correspondence, nor to attacks
    upon his honour and reputation. Everyone has the right to the protection of the law against such interference or
    attacks.</p> -->