:host {
  ul {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;

    hr {
      border: none;
    }

    .less-emphasis {
      font-size: 0.85rem;
      font-weight: 400;
    }

    li {
      --titleBackground: light-dark(
        color-mix(in srgb, var(--invert-body-color), var(--accent-color) 10%),
        color-mix(in srgb, var(--invert-body-color), var(--accent-color) 15%)
      );
      --listItemBackgroundTint: color-mix(
        in srgb,
        color-mix(in srgb, var(--accent-color), transparent 40%),
        var(--invert-body-color) 62%
      );
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 2rem;
      font-family: var(--title-font);
      width: 100%;
      border: 2px solid color-mix(in srgb, var(--body-color), transparent 65%);
      border-radius: 10px;
      min-height: 220px;
      background: var(--listItemBackgroundTint);
      padding: 18px 23px;
      overflow: hidden;

      .text-effect {
        display: inline;
        vertical-align: middle;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
        background: var(--titleBackground);
        font-weight: 500;
        box-shadow: 10px 0 0 var(--titleBackground),
          -10px 0 0 var(--titleBackground);
        box-decoration-break: clone;
        word-break: break-word;
      }

      .top {
        .text-effect {
          * {
            vertical-align: middle;
          }
        }

        .title {
          font-size: 1.2rem;

          .favicon {
            margin-right: 0.7rem;
            margin-left: 0.1rem;
            border-radius: 2px;
            width: 1.2rem;
            height: 1.2rem;
            translate: 0 -2px;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: flex-end;

        .text-effect {
          display: inline-flex;
          padding: 0;
          border-radius: 30px;

          .score {
            display: inline-flex;
            align-items: center;
          }

          .dot {
            position: relative;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 0.5rem;

            &.glow {
              position: absolute;
              filter: blur(4px) contrast(3) brightness(1.5);
              opacity: 0.5;
            }
          }

          &.bad .dot {
            background-color: rgb(194, 0, 74);
          }
          &.neutral .dot {
            background-color: rgb(212, 113, 0);
          }
          &.good .dot {
            background-color: rgb(0, 179, 51);
          }
        }
      }

      a {
        text-decoration: none;
        color: var(--body-color);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }

        &:focus-visible {
          outline: none;

          &::after {
            outline-width: var(--outline-w);
            outline-style: var(--outline-s);
            outline-color: var(--outline-c);
            outline-offset: -6px;
            border-radius: 8px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            -45deg,
            color-mix(
                in srgb,
                var(--accent-color),
                var(--invert-body-color) 85%
              )
              55%,
            rgba(0, 0, 0, 0) 80%
          ),
          var(--backgroundImage);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        z-index: -1;
        scale: 1.9;
        filter: blur(15px) contrast(180%) saturate(180%);
      }

      &:has(a:hover, a:focus-visible) {
        --titleBackground: light-dark(
          color-mix(in srgb, var(--invert-body-color), var(--accent-color) 0%),
          color-mix(in srgb, var(--invert-body-color), var(--accent-color) 5%)
        );
      }

      &:has(a:focus-visible) {
        border: 2px solid var(--invert-body-color);
        box-shadow: inset 0 0 0 8px var(--titleBackground);
      }
    }
  }
}
