<!-- <div style="display: inline-flex; gap: 1rem;">
    <button>Primary</button>
    <button class="success">Success</button>
    <button class="danger">Danger</button>
    <button class="secondary">Secondary</button>
</div> -->

<markdown ngPreserveWhitespaces>
    Aceste site-uri au fost analizate cu ajutorul serviciului de testare automată [WebAIM
    WAVE](https://wave.webaim.org/api/details|blank) și au primit un scor de la 0 la 10, unde 10 este scorul maxim.

    **Notă:** Testarea automată are limitări și **nu** poate detecta 100% din probleme. În urma testării manuale se pot
    găsi probleme suplimentare. Pentru mai multe detalii, accesați paginile ce urmează:
</markdown>
<ul>
    @for (waveReport of waveReports; track waveReport.statistics.pageurl) {
    <li [style]="waveReport.favicon ? `--backgroundImage: url(${waveReport.favicon})` : null">
        <div class="top">
            <span class="text-effect">
                <span class="title">
                    @if (waveReport.favicon) {
                    <img class="favicon" [src]="waveReport.favicon" alt="">
                    }
                    <a [routerLink]="[`/monitorizare/${waveReport.slug}`]"
                        [info]="waveReport">{{waveReport.statistics.pagetitle}}</a>
                </span>
                <hr>
                <span class="less-emphasis">{{stripUrl(waveReport.statistics.pageurl)}}</span>
            </span>
        </div>
        <div class="bottom">
            <span class="text-effect"
                [class]="{'good': waveReport.statistics.AIMscore > 7, 'neutral': waveReport.statistics.AIMscore <= 7 && waveReport.statistics.AIMscore >= 4, 'bad': waveReport.statistics.AIMscore < 4}">
                <span class="score">
                    <span class="dot">
                        <span class="dot glow"></span>
                    </span>
                    {{waveReport.statistics.AIMscore}}/<span class="less-emphasis">10</span>
                </span>
            </span>
        </div>
    </li>
    } @empty {
    <li>Nu există rezultate de afișat...</li>
    }
</ul>