:host {
  display: block;

  header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.5rem;
    border-bottom: solid 2px color-mix(in srgb, var(--body-color), transparent 90%);
    background-color: color-mix(
      in srgb,
      var(--invert-body-color),
      var(--white) 2%
    );
  }

  .logo {
    display: inline-block;
    width: 8rem;
    margin-top: 0.6rem;

    ::ng-deep svg {
      width: 100%;
    }

    ::ng-deep path {
      fill: var(--body-color);
    }

    &:hover,
    &:focus-visible {
      rotate: 3deg;
    }
  }
}
