body {
  font-family: "Inclusive Sans", sans-serif;
  color: var(--body-color);
  background-color: color-mix(in srgb, var(--invert-body-color), var(--black) 5%);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Literata", serif;
  font-style: italic;
}
