/* Inclusive Sans */
@font-face {
  font-family: "Inclusive Sans";
  src: url("^./../../../public/assets/fonts/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inclusive Sans";
  src: url("^./../../../public/assets/fonts/Inclusive_Sans/InclusiveSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

/* Sono */
@font-face {
  font-family: "Sono";
  src: url("^./../../../public/assets/fonts/Sono/Sono-VariableFont_MONO\,wght.ttf");
  font-style: normal;
  font-variation-settings: "MONO" 0.8;
}
