:root {
  color-scheme: light dark;

  /* Colors */
  --white: oklch(1 0 307);
  --black: oklch(from var(--white) calc(l - 1) c h);
  --accent-color: oklch(0.7 0.2 307);
  --danger-color: oklch(from var(--accent-color) l c calc(h * 0 + -10));
  --success-color: oklch(
    from var(--accent-color) l calc(c - 0.06) calc(h * 0 + 165)
  );

  --body-color: light-dark(
    oklch(from var(--white) calc(l - 1) c h),
    oklch(from var(--white) calc(l - 0.1) c h)
  );
  --invert-body-color: light-dark(
    var(--white),
    oklch(from var(--white) calc(l - 0.87) calc(c + 0.02) calc(h + 350))
  );

  --border-color: color-mix(
    in srgb,
    color-mix(in srgb, var(--body-color), var(--accent-color) 65%),
    var(--invert-body-color) 29%
  );
  --border: 2px solid var(--border-color);

  --border-color-light: color-mix(
    in srgb,
    color-mix(in srgb, var(--body-color), var(--accent-color) 80%),
    var(--invert-body-color) 50%
  );

  --border-hover-color: color-mix(
    in srgb,
    color-mix(in srgb, var(--body-color), var(--accent-color) 80%),
    var(--invert-body-color) 10%
  );
  --border-hover: 2px solid var(--border-hover-color);

  --radius: 6px;

  /* Animations */
  --short-transition: 0.15s;

  /* Fonts */
  --body-font: "Inclusive Sans", sans-serif;
  --title-font: "Sono", sans-serif;

  /* Outline */
  --outline-w: 3px;
  --outline-s: dotted;
  --outline-c: var(--body-color);
  --outline-o: 3px;
}
