.skip-to-main-content {
  &:focus-visible {
    top: 0.5rem;
    left: 0.5rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline-offset: -2px;
}

:host {
  ::ng-deep .space-wrapper {
    max-width: 90ch;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
