:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0.5rem;
  box-shadow: 0 0 20px color-mix(in srgb, var(--black), transparent 80%);
  background-color: color-mix(in srgb, var(--invert-body-color), var(--white) 15%);

  .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    .bold {
        font-weight: 700;
    }
  }
}
